[submodule "task_comodo_nurd"]
	path = task_comodo_nurd
	url = https://github.com/cnrtsvr/task_comodo_nurd.git
[submodule "task_textkernel"]
	path = task_textkernel
	url = https://github.com/cnrtsvr/task_textkernel.git
